
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #fafaf5 0%, #e2e0c3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #eaea66;
}

#addBtn {
    background-color: #dfea66;
    color: rgb(0, 0, 0);
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}

#addBtn:hover {
    background-color: #d8d45a;
}


h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #555;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}

.info-p {
    font-size: 0.95rem;
    color: #000000;
}
.userinfoline{
   display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.deletebtn {
    background: #ffeded;
    color: #e53e3e;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.deletebtn:hover {
    background: #e53e3e;
    color: white;
}

/* .editbtn {
    background: #f9edff;
    color: #863ee5;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.editbtn:hover {
    background: #863ee5;
    color: white;
} */
